{% include base_path %}


{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <p>
    {% if post.citation %}
      {{ post.citation }}
    {% endif %}
    {% if post.pdf %}
      <a href="{{ post.pdf }}">
         PDF
      </a>
    {% endif %}
    &nbsp;
    {% if post.code %}
      <a href="{{ post.code }}">
         CODE
      </a>
    {% endif %}
    </p>
  </article>
</div>
